/*
VARIABLES - Colours
Black1: #121f2f
White1: #f1f6fa
Blue1: #3b7cd8
Blue2: #77c3ff
blue3: #a1dcff
Purple1: #8961e6
Green1: #8961e6

VARIABLES - Fonts
Outfit: 100-900
poppins: 100-900 plus italic
*/


/*Other tag elements*/

/* Currently not being used
.square {
    width: calc(350px + 1vw);
    height: calc(250px + 1vh);
    background-color: #3b7cd8;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
*/

.portfolioGrid {
    display: inline-block;
    flex-direction: row;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
    width: calc(350px + 1vw);
    background-color: #3b7cd8;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolioGrid:hover {
    /* place holder now but elemts should react to being hovered over*/
}

.button1 {
    background-color: #f1f6fa;
    font-family: "outfit", sans-serif;
    font-weight: 300;
    color: #77c3ff;
    border: none;
    padding-left: calc(20px + 1vw);
    padding-right: calc(20px + 1vw);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
    /*cursor:none; - for custom cursor*/
}

.button1:hover {
    background-color: #3b7cd8;
    color: #f1f6fa;
    animation-delay: 1s;
}

.socialIcons {
    display: inline-block;
    flex-direction: row;
    width: calc(20px + 1vw);
    margin-bottom: 20px;
    padding: 5px;
    background-color: #77c3ff;
    border-radius: min(20px);
    transition-delay: 0.6s;
    animation-delay: 0.6s;
}


/*Section tag elements*/


.menuSection {
    border: none;
    color: white;
    margin: 2vh;
    text-align: center;
    font-size: font-size: calc(30px + 1vw);
    cursor: circle;
    text-align: center;
}

.homeSection {
    text-align: center;
    /* Combine the h1 and h2 and p into this and make it this*/
}

.portfolioSection {
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
}

.aboutSection {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 1px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: none;

}


/*Default tag elements*/


body {
    background-color: #f1f6fa;
    /*overflow-y: scroll;*./
    /*cursor:none - for custom cursor*/
    /* Would want to make this cursor glidy and be centred and much smaller
    cursor: url("assets/MouseCursor.png"), auto; */
}

h1 {
    /* CURRENT POSITION - somehow the outfit font is showing up without ever putting it in code?*/
    color: #3b7cd8;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    font-size: min(60px + 1vw);
    transition-duration: 0.6s;
    animation-duration: 0.6s;
}

h2 {
    color: #77c3ff;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: calc(20px + 1vw);
    transition-duration: 0.6s;
    animation-duration: 0.6s;
}

h3 {
    color: #77c3ff;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 3vw;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
}

p {
    color: #121f2f;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 2vw;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
}

a {
    text-decoration: none;
}

img {}
