@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    /* the global variables for the project*/
    --black: #152229;
    --white: #eff1f3;
    --grey: #d6e1eb;
    --blue: #2560e0;
    --altBlue: #213979;
    --orange: #ff817b;
    --altOrange: #ffc7aa;
    --borderWidth: 0.5em;
}

body {
    background: var(--white);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.infoBox {
    background: var(--white);
    border-radius: 2em;

    position: relative;
}

.infoBoxAnimate::before,
.infoBoxAnimate::after {
    opacity: 0;
    content: "";
    position: absolute;
    inset: -0.3em;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--blue),
        var(--altBlue),
        var(--blue),
        var(--altBlue),
        var(--blue)
    );
    border-radius: 2.2em;
    animation: borderRotation 1.5s linear infinite;
}

.infoBoxAnimate::after {
    filter: blur(1em);
}

.infoBoxAnimate:hover::before,
.infoBoxAnimate:hover::after {
    opacity: 1;
}
