@keyframes titleSlideUp {
    0% {
        transform: scale(100%);
        opacity: 0;
    }
    20% {
        transform: translateY(-20%);
        opacity: 1;
    }
    100% {
        transform: translateY(+20%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    animation: titleSlideUp 1.5s 0.2s;
    animation-fill-mode: both;
}

p {
    animation: fadeIn 1.5s 1.2s;
    animation-fill-mode: both;
}

h3 {
    animation: fadeIn 1.5s 1.2s;
    animation-fill-mode: both;
}

.menuDesign {
    animation: fadeIn 1.5s 1.2s;
    animation-fill-mode: both;
}

.homeImg {
    animation: fadeIn 1.5s 1.2s;
    animation-fill-mode: both;
}

a {
    animation: fadeIn 1.5s 1.2s;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
