:root {
    --staggerDelay: 1;
}

@keyframes imgAnimation {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animateIn:not(.titleImg) {
    animation: imgAnimation 300ms ease-in-out calc(var(--staggerDelay) * 200ms)
        1 normal forwards;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
