.rect {
    grid-area: menu;
    width: 80vw;
    height: 10vw;
    position: fixed;
}

.button {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 1.5vw;
    color: #eff1f3;
}
