/* ---- Class for body grid ---- */

body {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2.5%;

    scroll-behavior: smooth;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--white);
    max-width: 1280px;

    padding-left: 4%;
    padding-right: 4%;
    margin: auto;

    font-family: "Outfit", sans-serif;

    cursor: default;

    color-scheme: light dark;

    /*outline checker for overflowing elements*/

    /*
    * {
        outline: 1px solid red !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    */
}

/* ---- Class for nav bar design ---- */
nav {
    /* Declaring a nav section and creating a flexbox for it */
    grid-column: 1 / span 6;
    display: flex;
    flex-wrap: nowrap;

    position: sticky;
    z-index: 1;
    top: 2em;

    background-color: var(--blue);
    border: 0.3em solid transparent;

    /*background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(150%) contrast(120%);*/

    box-sizing: border-box;

    justify-content: end;

    border-radius: 5em;

    padding: 0em;
    margin: 1em;

    a {
        font-size: 1.5em;
        text-align: right;

        color: var(--white);

        transition-duration: 0.2s;

        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em;
    }
    a:first-child {
        justify-self: start;
        margin-right: auto;
        margin-left: 3em;
        text-align: left;
    }
    a:last-child {
        margin-right: 3em;
    }
}

nav:hover {
    /* What happens on hovering over navbar */

    background-color: var(--white);
    border: 0.3em solid var(--blue);

    transition-duration: 0.2s;

    a {
        /* nested a tag declares what happens specifically to text on hovering over navbar */
        color: var(--blue);
        background-color: transparent;

        transition-duration: 0.2s;
    }
    a:hover {
        /* nested a tag that declares what happens when you hover over the text in the navbar */
        font-weight: 700;

        color: var(--orange);
        background-color: transparent;
        border: 0em solid var(--blue);

        transition-duration: 0.2s;
    }
}

/* ---- Footer design ---- */

.footerBg {
    z-index: 0;
    grid-column: 1 / span 6;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: start;

    bottom: 5em;

    height: 8em;

    border-radius: 20em;

    background-color: var(--blue);

    margin-bottom: 0em;
    margin-left: 2.5%;
    margin-right: 2.5%;

    a {
        display: inline-block;
    }
}

.footerName {
    font-weight: 800;
    line-height: 100%;
    font-size: 4em;

    color: var(--white);

    align-self: center;
    justify-self: start;
    text-align: start;

    margin-left: 1em;
    margin-right: auto;
}

.footerName:hover {
    font-weight: 900;
    color: var(--orange);
}

.footerTextTitle {
    font-size: clamp(11px, 1.3em, 12px);
    line-height: 120%;
    font-weight: 100;
    color: var(--black);

    text-align: center;

    margin-bottom: 1em;
}

.footerText {
    font-weight: 400;
    color: var(--white);

    font-size: 1.4em;
    line-height: 180%;

    text-align: end;
    align-self: center;
    justify-content: start;

    margin-left: 3em;
}

.footerText:last-child {
    margin-right: 5em;
}

.footerText:hover {
    font-weight: 500;
    color: var(--orange);
}

.footerImg {
    display: flex;
    flex-direction: column;
    height: 45%;
    align-self: center;
    justify-content: center;

    margin-left: 4em;
}

/* ---- Buttons  ---- */

.defaultButton {
    grid-column: 3 / span 2;

    background-color: var(--white);
    border: 0.3em solid var(--black);

    border-radius: 5em;

    color: var(--black);
    font-size: 1.5em;

    display: flex;
    text-align: center;
    justify-content: center;

    padding: 1.2em;
    margin-top: 2em;

    transition-duration: 0.2s;
}

.defaultButton:hover {
    /* What happens on hovering over navbar */

    background-color: var(--orange);
    border: 0.3em solid var(--orange);
    color: var(--blue);
    font-weight: 700;

    padding: 1.2em;

    transition-duration: 0.2s;
}

/*---- Tag System ----*/

.tag {
    border: 2px solid var(--blue);
    border-radius: 50px;
    padding: 0.5em;

    text-align: center;
    align-self: center;

    width: auto;
    font-size: 120%;
    height: 1em;

    margin-right: 1em;

    color: var(--blue);
    line-height: 100%;
}

.tagTitle {
    padding: 0.5em;

    text-align: left;
    align-self: center;

    width: 100%;
    font-size: 180%;
    font-weight: 100;
    height: 1em;

    margin-right: 5em;
    margin-bottom: 0.5em;

    color: var(--black);
}

/*---- Info box colourful border gradient ----*/

.infoBox {
    display: flex;
    flex-direction: column;

    background: var(--white);

    box-shadow:
        -15px -15px 20px rgba(255, 255, 255, 1),
        4px 4px 20px rgba(21, 34, 41, 0.4);

    border-radius: 5em;

    padding: 0em;
    padding-bottom: 7em;
    padding-top: 5em;

    grid-column: 2 / span 4;

    align-self: center;

    position: relative;

    transition-duration: 1s;

    h1 {
        text-align: center;
        font-size: 5em;
    }
    h2 {
        color: var(--black);
        background-color: transparent;
        margin: 0em;
        margin-top: 0em;
        font-size: 2em;
    }
    h3 {
        text-align: center;
    }
    p {
        color: var(--black);

        text-align: center;

        padding-left: 5em;
        padding-right: 5em;
    }
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.infoBoxAnimate::before,
.infoBoxAnimate::after {
    opacity: 0;
    content: "";
    position: absolute;
    inset: -1em;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--blue),
        var(--orange),
        var(--altBlue),
        var(--blue),
        var(--orange),
        var(--altBlue),
        var(--orange),
        var(--blue)
    );
    border-radius: 5.6em;
    animation: borderRotation 2s linear infinite;
}

.infoBoxAnimate:hover {
    box-shadow:
        -0px -0px 0px rgba(255, 255, 255, 1),
        0px 0px 0px rgba(21, 34, 41, 0.4);

    transition-duration: 0s;
}

.infoBoxAnimate:hover::before,
.infoBoxAnimate:hover::after {
    opacity: 1;
    transition-duration: 1.5s;
}

/*
.cursorBlob {
    position: fixed;
    z-index: 2;
    height: 2em;
    width: 2em;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: #0f89fa;
}

.cursorBlue {
    background-color: #0f89fa;
}

.cursorWhite {
    background-color: #eff1f3;
}

.whiteCursorBlobHitbox {
    position: fixed;

    left: 0;
    top: 0;

    width: 100dvw;
    height: 100dvh;

    z-index: 3;

    background-color: transparent;
}
*/
