/*
Gunmetal: #152229
Blue: #0F89FA
White: #EFF1F3
*/

body {
    text-align: left;
    background-color: #eff1f3;
    cursor: default;
    margin: 0px;
    padding: 0px;

    display: inline-block;
    position: left;
    overflow: hidden;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 600%;
    color: #0f89fa;

    margin: 0px;
    padding: 0px;

    padding-top: 15%;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;

    font-size: 300%;
    color: #152229;

    margin: 0px;
    padding: 0px;

    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2.5%;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 130%;
    color: #0f89fa;

    margin: 0px;
    padding: 0px;

    margin-top: 5%;
    margin-bottom: 1.5%;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 100%;

    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
}

/*menu and button stuff*/

section {
    margin-left: 5%;
    margin-right: 5%;
}

div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
