/*
Gunmetal: #152229
Blue: #0F89FA
White: #EFF1F3
*/

body {
    text-align: left;
    background-color: #eff1f3;
    cursor: default;
    margin: 0;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 600%;
    color: #0f89fa;

    padding: 0%;
    padding-top: 15%;

    margin: 0%;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;

    font-size: 200%;
    color: #152229;

    padding: 0%;
    margin: 0%;

    margin-left: 5%;
    margin-right: 10%;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 100%;
    color: #0f89fa;

    padding: 0%;

    margin-left: 5%;
    margin-right: 60%;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 90%;

    padding: 0%;
    margin-left: 5%;
    margin-right: 60%;
}

li {
    /*Same as above*/
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 90%;

    padding: 0%;
    margin-left: 3%;
    margin-right: 60%;
}

img {
    width: 50%;
}

a {
    text-decoration: none;
}

/*menu and button stuff*/

section {
    padding-bottom: 0%;

    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 20%;
    margin-right: 5%;
}
