/*
COLOURS

Gunmetal: #152229
Blue: #0F89FA
White: #EFF1F3
*/

body {
    background-color: #eff1f3;

    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;

    max-width: 1280px;
    margin: calc(5vw + 5vh) auto;

    padding: 0%;
}

.bodyContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2.5%;

    margin-left: 5rem;
    margin-right: 5rem;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    /* Work out how to do a max font size or use breakpoints to make text start shrinking*/
    font-size: clamp(10vw, 50vh, 20vw);
    letter-spacing: -0.5vw;
    line-height: 15vh;
    text-align: center;
    color: #0f89fa;

    grid-column: 1 / span 6;

    margin-top: 20vh;
    margin-bottom: -5vh;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    letter-spacing: 0vw;
    font-size: clamp(10vw, 15vh, 20vw);
    color: #0f89fa;

    margin-top: 1vh;
    margin-bottom: 1vh;
    grid-column: 1 / span 6;
    text-align: left;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: #0f89fa;

    font-size: 3rem;
    line-height: 130%;
    text-align: center;

    margin-top: 2vh;
    margin-bottom: 5vw;

    grid-column: 1 / span 6;
}

h4 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #152229;

    font-size: 1.5rem;
    line-height: 130%;
    text-align: left;

    margin-top: 0px;
    margin-bottom: 5vw;

    grid-column: 1 / span 3;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;

    font-size: 1rem;
    line-height: 180%;

    margin: -0.5vh;

    color: #152229;

    align-self: flex-end;
    display: 1 / span 3;
}

video {
    border-radius: 20px;
    display: block;
    margin-top: 1vh;
}

img {
    border-radius: 20px;
    display: block;
}

.thumbnail {
    border: 10px solid #eff1f3;
    margin-bottom: 5%;
    border-radius: 30px;

    grid-column: span 3;
}

.thumbnail:hover {
    border: 10px solid #0f89fa;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.homeLink {
    text-align: center;
    align-content: center;

    height: 5rem;

    border-radius: 100vw;
    background-color: #0f89fa;
    border: 8px solid #eff1f3;

    margin: 0px;

    margin-bottom: 2vh;

    padding: 0px;

    text-align: center;

    grid-column: 2 / span 2;
    font-size: 1.25rem;
    font-family: "outfit", sans-serif;
    font-weight: 500;
    color: #eff1f3;
}

.homeLink:hover {
    font-weight: 700;

    border: 8px solid #0f89fa;

    margin-bottom: 2vh;
}

a {
    grid-column: span 3;
    text-decoration: none;
}

.data {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: #0f89fa;

    font-size: 1rem;
    line-height: 180%;
}

#hoverNonFloat {
}

#hoverFloat {
    transform: translateY(0%);
}

#hoverFloat:hover {
    transform: translateY(-10%);
}

/*
img {
    max-width: 100%;
    border-radius: calc(1vw + 10px);

    margin-bottom: 5%;
    grid-column: 1 / span 6;
}

a {
    display: inline-block;
    float: left;

    text-decoration: none;
    margin: 1%;
    grid-column: span 3;
}

.homeImg {
    display: inline-block;
    float: left;

    text-decoration: none;
    margin: 1%;
    grid-column: span 6;
}

/*
.menuButton {
    height: max(5rem);
    height: max(5rem);
    background-color: #0f89fa;
    border-radius: 50%;

    margin: 0px;
    padding: 0px;

    position: sticky;
    top: 50px;

    border: none;
}

.menuButton img {
    position: sticky;
    top: 50px;
    left: 1%;
    max-width: 100%;
    border-radius: 0%;
    }

.menu {
    height: 50px;
    background-color: #0f89fa;
    border-radius: 50px;

    position: sticky;
    top: 50px;

    border: none;
    justify-content: center;
    }
*/
/*.menuDesign {
    text-align: center;
    align-content: center;
    line-height: 100%;

    border-radius: 100vw;
    background-color: #0f89fa;

    margin: 0px;
    padding: 0px;
    padding-top: 1.1rem;
    padding-bottom: 1rem;

    position: sticky;
    top: 5lvh;

    z-index: 1;
    list-style-type: none;
    grid-column: 2 / span 4;

    /* up for debate
    margin-left: 10vw;
    margin-right: 10vw;

}
*/
/*
.menuElement {
    display: inline-block;
    float: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menuLink {
    font-size: 1rem;
    font-family: "outfit", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #eff1f3;

    transition-duration: 0.2s;
}

.menuLink:hover {
    font-weight: 800;
    text-decoration: none;
}

.elementContainer {
    height: 10vh;
    grid-column: 1 / span 6;
    text-align: center;
    margin: auto;
    align-items: center;
}

.homeLink {
    text-align: center;
    align-content: center;

    height: 5rem;

    border-radius: 100vw;
    background-color: #0f89fa;
    border: 5px solid #0f89fa;

    margin: 0px;
    padding: 0px;

    text-align: center;

    grid-column: 1 / span 3;
    font-size: 1.25rem;
    font-family: "outfit", sans-serif;
    font-weight: 500;
    color: #eff1f3;

    transition-duration: 0.2s;
}

.homeLink:hover {
    font-weight: 700;

    border: 8px solid #0f89fa;

    margin: -0.5vh;
}

.homeLinkAlt {
    color: #0f89fa;
    background-color: #eff1f3;

    border: 5px solid #0f89fa;

    grid-column: 4 / span 3;
}

.imgMouseOver {
    transition-duration: 0.5s;
}

.imgNoLink {
    transition-duration: 0.2s;
    filter: saturate(75%);
}

.imgMouseOver:hover {
    filter: opacity(60%) blur(2px);
}

.imgNoLink:hover {
    filter: saturate(125%);
    }
    */
