/* ---- The normal page content html tags to design the content ---- */

h1 {
    font-weight: 900;
    font-size: clamp(2em, 10vw, 12em);
    color: var(--blue);

    grid-column: span 6;

    margin: 0px;
    letter-spacing: 0.01em;
}

h2 {
    font-weight: 700;
    color: var(--white);
    line-height: 100%;

    font-size: min(2.5em, 5vw);

    display: flex;
    justify-content: center;
    text-align: middle;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 2em;
    margin-right: 2em;

    transition-duration: 0.2s;

    background-color: var(--blue);
    border-radius: 50px;
}

.topLink {
    display: flex;
    justify-content: space-between;
    text-align: right;
    color: var(--white);
}

h3 {
    font-weight: 500;

    font-size: 3em;
    line-height: 100%;
    color: var(--blue);

    margin-bottom: 0em;

    text-align: start;
    justify-content: start;
    align-self: center;

    margin-top: 0em;

    transition-duration: 0.2s;

    margin-right: auto;
}

.pageHeader {
    grid-column: 1 / span 6;

    display: flex;
    height: 80lvh;

    flex-direction: column;
    justify-content: center;
    align-items: start;
}

p {
    font-weight: 300;
    font-size: clamp(2px, 1.6em, 20px);
    line-height: 150%;

    color: var(--black);
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
}

a {
    color: var(--black);

    text-decoration: none;

    padding: 0px;
    margin: 0px;
}

.titleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    align-items: flex-end;

    height: 100lvh;

    grid-column: span 4;

    min-width: 0px;
    min-height: 0px;
}

.titleImg {
    max-width: 1280px;

    margin-bottom: 5em;

    width: 100%;
    height: auto;
}

/* ---- Thumbnail section ---- */

.thumbnailFolder {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    grid-column: span 6;

    border-radius: 50px;

    transition-duration: 0.3s;

    padding: 2em;
    padding-bottom: 0em;
    margin-bottom: 2em;
}

.thumbnailFolder:hover {
    box-shadow:
        -15px -15px 20px rgba(255, 255, 255, 1),
        4px 4px 20px rgba(21, 34, 41, 0.4);

    transition-duration: 0.1s;

    background-color: var(--white);
}

/*.thumbnailFolder:not(:hover) {
    filter: blur(4px);
}*/

.thumbnailCaption {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;

    align-items: center;

    height: 10em;
    margin-left: 3em;
    margin-right: 3em;
}

.thumbnailFolder:hover .thumbnailCaption h3:not(.tag) {
    font-weight: 600;

    transition-duration: 0.2s;
}

.thumbnail {
    border-radius: 34px;
    /*border: var(--borderWidth) solid var(--white);*/
    box-sizing: border-box;
    object-fit: cover;

    width: 100%;
    aspect-ratio: 16 / 9;

    opacity: 1;

    animation-timing-function: ease-in-out;
    transition-duration: 0.75s;
}

.thumbnailFolder .fullWidth {
    height: 100%;
    max-height: 100%;
}

.thumbnail:hover {
    /*border: var(--borderWidth) solid var(--blue);*/

    animation-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

.thumbnailText {
    grid-column: span 2;
    align-self: flex-end;
}

.aboutPage {
    line-height: 200%;
}

.navBox {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    background-color: var(--blue);

    border-radius: 50px;

    padding-top: 1em;
    padding-bottom: 1em;

    transition-duration: 0.2s;
}

.navBox:hover {
    padding-top: 1em;
    padding-bottom: 1em;

    transition-duration: 0.2s;
}

.navBox a {
    text-align: center;

    font-size: 1.8em;

    padding-top: 1em;
    padding-bottom: 1em;

    color: var(--white);

    transition-duration: 0.2s;
}

.navBox a:hover {
    font-size: 2em;
    font-weight: 600;

    padding-top: 1em;
    padding-bottom: 1em;

    transition-duration: 0.2s;
}
