/* ---- The tags that help to speed up and consistancise the page layout ---- */
:root {
    /* the global variables for the project*/
    --black: #152229;
    --white: #eff1f3;
    --grey: #d6e1eb;
    --blue: #2560e0;
    /*0f89fa8
    2560E0
    2C50C8
    */
    --altBlue: #3068b1;
    --orange: #ff817b;
    --altOrange: #ffc7aa;
    --borderWidth: 0.5em;

    --gap0: 0em;
    --gap1: 0.5em;
    --gap2: 1em;
    --gap3: 2em;
    --gap4: 5em;
    --gap5: 10em;
    --gap6: 20em;
}

/* ---- Gaps: used to declare how much space should be left between grid row ---- */
.gap0 {
    margin-top: var(--gap0);
}

.gap1 {
    margin-top: var(--gap1);
}

.gap2 {
    margin-top: var(--gap2);
}

.gap3 {
    margin-top: var(--gap3);
}

.gap4 {
    margin-top: var(--gap4);
}

.gap5 {
    margin-top: var(--gap5);
}

.gap6 {
    margin-top: var(--gap6);
}

/* ---- Specifcs: Used specifically in the header of the page as unique elements ---- */
.title {
    grid-column: 1 / span 5;

    align-self: flex-start;
    margin: 0px;
}

.subTitle {
    grid-column: 1 / span 5;
}

.footerGap {
    margin-top: 30em;
}

.navBarGap {
    font-size: 15em;

    height: 1em;

    margin: 0em;
}

.thumbnailCol {
    grid-column: span 3;
}

.thumbnailColHome {
    grid-column: span 3;
}

.portfolioCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-column: 3 / span 4;
}

.middle {
    grid-column: 2 / span 4;
    text-align: center;
}

/* ---- Layout options: A variety of options to layout the pages ---- */
.fullWidth {
    grid-column: 1 / span 6;

    text-align: center;
    max-width: 100%;
}

.lFocus {
    grid-column: 1 / span 4;
}

.lSub {
    grid-column: 5 / span 2;
}

.rFocus {
    grid-column: 3 / span 4;
}

.rSub {
    grid-column: 1 / span 2;
}

.singleCol {
    grid-column: span 1;
}

.doubleCol {
    grid-column: span 2;
}

.tripleCol {
    grid-column: span 3;
}
