/* ---- File that controls decorative elements of the page ---- */
:root {
    /* Default variables for the backgrounds. adjustable with the function in backgroundSet */
    --backgroundCol1: #ffffff;
    --backgroundPos1: 0em;
    --backgroundHeight1: 10em;

    --backgroundCol2: #ffffff;
    --backgroundPos2: 0em;
    --backgroundHeight2: 10em;

    --backgroundCol3: #ffffff;
    --backgroundPos3: 0em;
    --backgroundHeight3: 10em;

    --backgroundCol4: #ffffff;
    --backgroundPos4: 0em;
    --backgroundHeight4: 10em;

    --backgroundCo5: #ffffff;
    --backgroundPo5: 0em;
    --backgroundHeigh5: 10em;
}

/* ---- Backgrounds: 5 different backgrounds per page. Add more if needed ---- */
.blueBg {
    position: fixed;
    z-index: -1;

    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;

    background-color: var(--blue);
    transition:
        background 0.5s ease-in-out,
        opacity 0s ease-in-out;
}

.background1 {
    position: absolute;
    z-index: -1;

    left: -200em;
    top: var(--backgroundPos1);
    width: 500em;
    height: var(--backgroundHeight1);

    background-color: var(--backgroundCol1);
}

.background2 {
    position: absolute;
    z-index: -1;

    left: -200em;
    top: var(--backgroundPos2);
    width: 500em;
    height: var(--backgroundHeight2);

    background-color: var(--backgroundCol2);
}

.background3 {
    position: absolute;
    z-index: -1;

    left: -200em;
    top: var(--backgroundPos3);
    width: 500em;
    height: var(--backgroundHeight3);

    background-color: var(--backgroundCol3);
}

.background4 {
    position: absolute;
    z-index: -1;

    left: -200em;
    top: var(--backgroundPos4);
    width: 500em;
    height: var(--backgroundHeight4);

    background-color: var(--backgroundCol4);
}

.background5 {
    position: absolute;
    z-index: -1;

    left: -200em;
    top: var(--backgroundPos5);
    width: 500em;
    height: var(--backgroundHeight5);

    background-color: var(--backgroundCol5);
}
