/* ---- The normal page content tag's to design the content ---- */

body {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2.5%;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--white);
    max-width: 1280px;
    margin: auto;

    font-family: "Outfit", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 12em;
    line-height: 100%;

    color: var(--blue);

    margin: 0em;
    margin-bottom: -0.13em;

    padding: 0em;

    transition-duration: 0.2s;
}

h2 {
    font-weight: 700;
    color: var(--blue);

    font-size: 3em;
    line-height: 130%;
    text-align: center;

    transition-duration: 0.2s;
}

h3 {
    font-weight: 300;
    color: var(--black);

    font-size: 1.5em;
    line-height: 130%;

    transition-duration: 0.2s;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 200%;

    color: var(--black);

    align-self: flex-end;

    transition-duration: 0.2s;
}

video {
    border-radius: 20px;
    border: var(--borderWidth) solid var(--blue);
    box-sizing: border-box;
    max-width: 100%;

    align-self: flex-end;

    transition-duration: 0.2s;
}

img {
    border-radius: 20px;
    border: var(--borderWidth) solid var(--blue);
    box-sizing: border-box;
    max-width: 100%;

    align-self: flex-end;
}

a {
    color: var(--blue);
    text-decoration: none;
}

div {
}

canvas {
    border-radius: 20px;
    border: var(--borderWidth) solid var(--blue);
    box-sizing: border-box;

    align-self: flex-end;
    width: 100%;
    height: auto;
}

/* ---- Class when multiple images are needed in one column group (e.g. in lSub or rSub) ---- */
.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---- Classes for "metadata" info at top of page (see layoutVariables for more) ---- */

.data {
    /* Any non title information */

    font-size: 1em;
    line-height: 150%;

    margin-bottom: 0.2em;
}

.dataTitle {
    /* Any title information */

    color: var(--black);

    font-size: 1.2em;
    line-height: 120%;
    text-align: right;

    font-weight: 600;

    margin-top: 1em;
}

/* ---- Class for nav bar design ---- */
nav {
    /* Declaring a nav section and creating a flexbox for it */
    grid-column: 2 / span 4;

    position: sticky;
    z-index: 1;
    top: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar {
    /* A div that contains the design for the two sepearted elements of the navbar */

    background-color: var(--blue);
    box-sizing: border-box;

    border-radius: 5em;

    color: var(--white);
    text-align: center;

    margin: 1em;
    padding: 1.2em;

    animation-timing-function: ease-in-out;
    transition-duration: 0.2s;

    a {
        background-color: var(--blue);
    }
}

.navbar:hover {
    /* What happens on hovering over navbar */

    background-color: var(--clickBlue);

    padding: 1.5em;

    animation-timing-function: ease-in-out;
    transition-duration: 0.2s;

    a {
        /* nested a tag declares what happens specifically to text on hovering over navbar */
        color: var(--white);
        background-color: var(--clickBlue);

        animation-timing-function: ease-in-out;
    }
    a:hover {
        /* nested a tag that declares what happens when you hover over the text in the navbar */
        font-weight: 700;

        color: var(--altOrange);
        background-color: var(--clickBlue);

        padding: 1.2em;

        animation-timing-function: ease-in-out;
    }
}

/* ---- Footer design ---- */

.footerGap {
    margin-top: 30em;
}

.footerName {
    font-weight: 800;
    line-height: 80%;
    font-size: 8em;

    color: var(--white);

    padding-bottom: 0.3em;

    grid-column: 1 / span 3;
}

.footerName:hover {
    font-weight: 900;
}

.footerTextTitle {
    flex-direction: column;
    align-self: flex-start;

    font-size: 1.2em;
    line-height: 150%;
    font-weight: 100;
    color: var(--clickBlue);

    justify-content: left;
    text-align: left;

    margin-bottom: 1em;
}

.footerText {
    font-weight: 200;
    color: var(--white);

    font-size: 1.4em;
    line-height: 180%;

    text-align: left;
}

.footerText:hover {
    font-weight: 300;
}

.footerLinks {
    display: flex;
    flex-direction: column;

    grid-column: span 1;

    align-self: flex-end;

    padding-bottom: 2em;
}

/* ---- Thumbnail section ---- */

.thumbnail {
    box-sizing: border-box;
    position: relative;

    left: 0%;
    top: 0%;

    margin-bottom: 1em;

    animation-timing-function: ease-in-out;
    transition-duration: 1s;
}

.thumbnail:hover {
    border: var(--borderWidth) solid var(--orange);
    position: relative;

    left: -1%;
    top: -1%;
    max-width: 102%;

    margin-bottom: 1em;

    animation-timing-function: ease-in-out;
    transition-duration: 0.15s;
}
