/* ---- The normal page content html tags to design the content ---- */

h1 {
    font-weight: 700;
    font-size: clamp(2em, 5vw, 8em);
    color: var(--blue);
    line-height: 100%;

    grid-column: span 5;

    align-self: flex-start;
}

h2 {
    font-weight: 700;
    color: var(--blue);

    font-size: 3em;

    line-height: 130%;

    transition-duration: 0.2s;
}

h3 {
    font-weight: 300;
    color: var(--black);

    font-size: 1.5em;
    line-height: 130%;

    transition-duration: 0.2s;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;

    color: var(--black);

    margin: 0em;

    align-self: flex-end;

    transition-duration: 0.2s;
}

a {
    text-decoration: none;

    font-size: 16px;
    font-weight: 300;
    line-height: 200%;

    color: var(--black);

    margin: 0em;

    align-self: flex-end;

    transition-duration: 0.2s;
}

video {
    border-radius: 20px;
    /*border: var(--borderWidth) solid var(--blue);*/
    box-sizing: border-box;
    object-fit: cover;

    max-width: 100%;
    width: 100%;

    align-self: flex-end;

    transition-duration: 0.2s;

    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
    padding: 0px;
}

img:not(.footerImg) {
    border-radius: 20px;
    /*border: var(--borderWidth) solid var(--blue);*/
    box-sizing: border-box;
    object-fit: cover;

    max-width: 100%;
    width: 100%;

    align-self: flex-end;

    transition-duration: 0.2s;
}

div {
    margin: 0px;
}

canvas {
    border-radius: 20px;
    /* border: var(--borderWidth) solid var(--blue);*/
    box-sizing: border-box;

    align-self: flex-end;
    width: 100%;
    height: auto;
}

/* ---- Class when multiple images are needed in one column group (e.g. in lSub or rSub) ---- */
.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---- Classes for "metadata" info at top of page (see layoutVariables for more) ---- */

.metaInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    grid-column: 2 / span 4;
    text-align: left;

    align-self: start;
    margin: 0px;
    margin-top: 0em;

    h3 {
        font-size: 1.3em;
        font-weight: 500;
        padding: 1.2em;
    }

    p:not(.tagTitle) {
        font-size: 1.1em;

        font-weight: 300;
        padding: 0.8em;
        padding-left: 1.4em;
        padding-right: 1.4em;
    }

    a {
        font-size: 1.1em;

        font-weight: 300;
        padding: 0.8em;
        padding-left: 1.4em;
        padding-right: 1.4em;
        border: 2px solid var(--blue);
        color: var(--blue);
    }

    a:hover {
        border: 2px solid var(--orange);
        color: var(--blue);
        background-color: var(--orange);
    }
}

.pageHeader {
    grid-column: 2 / span 4;

    display: flex;
    height: 94lvh;

    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title {
    align-self: auto;
    margin: 0px;
    margin-top: 0.2em;
}

.subTitle {
    align-self: auto;
    margin: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}
