@media only screen and (min-width: 0px) {
    body {
        font-size: 0.6em;

        display: block;
        margin-left: 10%;
        margin-right: 10%;

        text-align: center;
    }

    .thumbnail {
        height: clamp(200px, 15vh, 300px);
        margin-bottom: 5em;
    }

    nav {
    }

    .footerBg {
        visibility: collapse;
    }
}

@media only screen and (min-width: 640px) {
    body {
        font-size: min(20px, 0.8vw);
        max-width: 1280px;

        display: grid;
        margin-left: 5%;
        margin-right: 5%;
        text-align: start;
    }

    .thumbnail {
        height: clamp(200px, 50vh, 300px);
        margin-bottom: 0em;
    }

    nav {
    }

    .footerBg {
        visibility: visible;
    }
}

@media only screen and (min-width: 1350px) {
    body {
        margin: auto;
    }

    .thumbnail {
        height: clamp(400px, 25vh, 600px);
    }
}
