@media only screen and (min-width: 0px) {
    body {
        font-size: 0.6em;

        display: block;
    }

    nav {
        visibility: visible;
    }

    .footerBg {
        visibility: collapse;
    }
}

@media only screen and (min-width: 640px) {
    body {
        font-size: min(20px, 0.8vw);

        display: grid;
    }

    nav {
        visibility: visible;
    }

    .footerBg {
        visibility: visible;
    }
}

@media only screen and (min-width: 1350px) {
    body {
    }
}
