@media only screen and (min-width: 0px) {
    body {
        font-size: 0.5vw;
        max-width: 280px;
    }
}

@media only screen and (min-width: 720px) {
    body {
        font-size: min(20px, 0.8vw);
        max-width: 1280px;
    }
}
