#Menu {
    padding-top: 15%;
    padding-left: 60%;
    position: sticky;
    top: 5%;
}

#Home {
}

#Portfolio {
}

.PortfolioImg {
    display: inline-block;
    overflow: auto;
    white-space: nowrap;

    margin-left: 40%;
    margin-right: 0%;
}

#About {
    display: inline-block;
}

.Footer {
    margin-left: 9%;
    margin-right: 5%;
    position: fixed;
    bottom: 2.5%;
}
