.header {
    position: sticky;
    top: 5vw;
}

.headerBg {
    background-color: #eff1f3;
    margin-top: -5vw;
    margin-left: -5vw;
    width: 120vw;
    height: 25vw;
    position: fixed;
}

.navigation {
    position: sticky;
    top: -10vw;

    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 1vw;
    color: #152229;
    padding-left: 2.5vw;
}

.menu {
    width: 20vw;
    top: 11vw;

    position: absolute;
    right: 10vw;

    background-color: #0f89fa;
    border-radius: 10vw;
    padding: 1.5vw;
    text-align: center;
}

.pageContent {
    display: flex;
    flex-flow: row wrap;

    margin-right: 5%;
    margin-top: 7vw;
}

.about {
    position: sticky;
    align-self: flex-start;
    top: 20vw;

    padding: 0%;
    margin: 0%;

    flex: 4;
}

.images {
    margin-left: 5vw;

    overflow: scroll;
    scrollbar-width: 0;

    flex: 6;
    overflow-x: hidden;
    overflow-y: clip;
}

.footer {
}
