.portfolioGrid {
    display: inline-block;
    flex-direction: row;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
    width: min(16vw + 180px);
    border-radius: 20px;
    padding: 10px;
}

.portfolioGrid:hover {
    /* place holder now but elemts should react to being hovered over*/
}

.button1 {
    vertical-align: middle;
    display: inline-block;
    background-color: #e4e6ea;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: calc(10px + 1vw);
    color: #63a7a5;
    border: none;
    padding-left: calc(20px + 1vw);
    padding-right: calc(20px + 1vw);
    padding-top: calc(1px + 0.5vw);
    padding-bottom: calc(1px + 0.5vw);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.6s;
    animation-duration: 0.6s;
    margin: 0px;
    /*cursor:none; - for custom cursor*/
}

.button1:hover {
    background-color: #45619a;
    color: #ecf2f5;
    animation-delay: 0.5s;
}

.socialIcons {
    display: inline-block;
    width: calc(20px + 1vw);
    margin-bottom: 20px;
    padding: calc(1px + 0.5vw);
}

.socialIcons:hover {
    width: calc(20px + 1vw);
    background-color: #63a7a5;
    border-radius: min(5px + 1vw);
    transition-duration: 0.6s;
    animation-duration: 0.6s;
}
